body {
    background-color: black;
    color: #00ff00;
    font-family: monospace;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}

#console {
    width: 50%;
    height: 400px
    max-width: 100%;
    border: 1px solid #00ff00;
    padding: 10px;
    overflow-x: auto; 
    overflow-y: auto;
    white-space: pre; 
    font-family: monospace;
    font-size: 14px; 
    box-sizing: border-box;  
    margin: auto;
    scrollbar-color: #00ff00 black;
}


input[type="text"] {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 1px;
    display: block;
    background-color: black;
    color: lime;
    border: 1px solid lime;
    font-family: monospace;
    font-size: 16px;
    box-sizing: border-box;
}

input[type=text]:focus {
  border: 1px solid lime;
  outline: none;
}
